@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../sedona/fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../sedona/fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
  height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: black;
    background-color: #FFFFFF;
}
.main-container, main-inner {
  flex-grow: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.logo {
    width: 140px;
    align-self: flex-start;
    margin-right: 30px;
}
.navigation {
  margin: 0 auto;
  padding: 0 70px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.navigation-list {
  width: 461px;
  display: flex;
  flex-wrap: wrap;
}
.navigation-user {
  width: 268px;
  margin-left: auto;
}

.navigation-link,
.navigation-link-current {
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    background-color: #FFFFFF;
    color: black;
    text-decoration: none;
    display: block;
    padding: 35px 16px;

}
.navigation-link-current {
    border-bottom: 2px solid #756257;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
}

.search {
    background-color: #FFFFFF;
    border: none;
    height: 30px;
}

.button-brown {
    background-color: #756157;
    color: #FFFFFF;
    width: 160px;
    padding: 8px 16px;
}
.page-header {
  height: auto;
}



.welcome {
    background-image: url(images/main-pic/index-background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 90px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.welcome img:not(:first-of-type) {
  margin-bottom: 50px;
}
.welcome img:first-of-type {
  margin-bottom: 10px;
}
.welcome img:last-of-type {
  margin-bottom: 0;
}
.subscribe {
  padding-top: 95px;
    padding-bottom: 105px;
}
.subscribe-background {
    background-image: url(images/subscribe-background.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    padding-top: 95px;
    padding-bottom: 105px;
}

.hotels {
    background-image: url(images/Фильтр.jpg);
    background-size: cover;
    background-color: #82B3D3;
    padding: 35px 70px 70px 70px;
}
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
    color: #FFFFFF;
}
.catalog-filter {
  padding: 0;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}
.catalog-filter-group {
  width: 150px;
}
.catalog-filter-list {
  width: 140px;
}
.catalog-filter-group-price {
  width: 288px;
}
.catalog-filter-group-container {
  width: 400px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
.catalog-filter-group-wrapper {
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.catalog-filter-group-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.catalog-filter-item {
    color: #FFFFFF;
}
.hotel-catalog {
  padding: 50px 70px 60px 70px;
}
.hotel-filter-result{
  display: flex;
  align-items: center;
}
.search-result {
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.select-control {
  width: 292px;
  padding: 14px 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: 70px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}
.hotel-catalog-view-list {
  width: 230spx;
  display: flex;
  justify-content: flex-end;
}

.hotel-catalog-view-item {
  min-width: 48px;
  min-height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-right: 8px;
}
.hotel-catalog-view-item:last-child {
  margin-right: 0;
}
.hotels-list {
  padding: 40px 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}
.hotel-card {
  width: 100%;
  padding: 20px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
}
.hotel-card-actions {
  padding-top: 16px;
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(2, minmax(140px, 1fr));
  gap: 20px 16px;
}
.hotel-card-image {
  display: block;
  max-width: 100%;
  height: auto;
  order: -1;
}
.hotel-link {
  display: flex;
  flex-direction: column;
  color: black;
  text-decoration: none;
}

.hotel-card-title {
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: black;
    text-decoration: none;
    order: 0;
    margin: 0;
    margin-top: 16px;
}
.hotel-card-type {
  margin: 0;
}
.hotel-card-price {
  justify-self: end;
}

.button-brown-full {
  color: #FFFFFF;
  background-color:#756157;
  box-sizing: border-box;
  padding: 8px 20px;
}

.pagination {
    display: flex;
    flex-direction: row;
}


.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    color: #FFFFFF;
    background-color: rgba(130, 179, 211, 1);
    border-radius: 4px;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 12px 25px;

}

.pagination-link-current {
    color: black;
    background-color: #F2F2F2;
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    border-radius: 4px;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 12px 25px;

}

.divider {
    width: 100%;
    display: block;
    margin-top: -72px;
}
.introduction {
  width: 100%;
  padding: 65px 0;
}
.introduction-container {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-big-text {
    text-align: center;
    font-family: inherit;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 25px;
}

.intro-small-text {
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
    margin: 0;
}

.white {
    color: #FFFFFF;
}

.reasons-list,
.advantages-list {
    text-align: center;
}
.reasons-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.reasons-list li:nth-of-type(2),
.reasons-list li:nth-of-type(6) {
  flex-grow: 6.8;
  min-height: 385px;
}

.reasons-title,
.advantages-title {
    font-family: inherit;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
}
.reasons-title::after {
    content: "";
    display: block;
    height: 2px;
    width: 60px;
    margin: 30px auto;
    background-color: rgba(0,0,0,0.3);
}
.title-white::after {
    background-color: rgba(255, 255, 255, 0.3);
}
.reasons-description {
    width: 230px;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
}

.advantages-item,
.reasons-item:not(:nth-of-type(4n+2)) {
    width: 400px;
    padding: 30px;
    display: flex;
    align-items: center;
    min-height: 385px;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1.5;
    margin: 0 auto;

}
.advantages-item img {
  margin: 0 auto;
}

.reasons-list li:first-of-type,
.reasons-list li:last-of-type {
    background-color: #82B3D3;
    color: white;
}

.light-blue-square {
    background-color: rgba(131, 179, 211, 0.2);
    color: black;
}

.reasons-list li:nth-of-type(odd):not(:first-of-type):not(:last-of-type),
.advantages-list li:nth-of-type(odd){
    background-color: rgba(131, 179, 211, 0.12);
    color: black;
}

.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
}
.hotel-score {
  color: rgba(51, 51, 51, 1);
  background-color: #F2F2F2;
  padding: 8px 20px;
  font-weight: 400;
}

.button-brown-search {
    background-color: #756157;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 8px 50px;
    margin-top: 55px;

}

.introduction-hotels {
    text-align: center;
    margin: 0 auto;
}

.subscribe-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 54px;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 100%;
}

.email-input {
    width: 452px;
    height: 25px;
    padding: 14px 20px;
    border: none;
    border-radius: 4px 0 0 4px;
    background-color: #F2F2F2;
}

.button-blue {
    background-color: #82B3D3;
    color: #fff;
    height: 52px;
    padding: 13px 50px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0 4px 4px 0;
    border: none;
}
.catalog-filter-button {
  display: flex;
  flex-direction: column;
}

.button-blue-filter {
    background-color: #82B3D3;
    color: #fff;
    box-sizing: border-box;
    padding: 8px 20px;
}

.button-transparent {
    background-color: transparent;
    color: #FFFFFF;
}
.page-footer-container{
    padding: 40px 70px 30px 70px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}
.footer-contacts-list {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
}

.footer-contacts-item {
  min-width: 45px;
  min-height: 40px;
}
.footer-contacts-link {
  color:#FFFFFF;
}

.telephone {
  width: 720px;
  text-align: center;
}

.telephone a {
    font-family: "PT Sans", sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    line-height: 40px;
    text-decoration: none;
    color: black;
}
.htmlacademy {
  width: 200px;
}
.htmlacademy img {
  vertical-align: middle;
}
