@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../sedona/fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../sedona/fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
  height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: black;
    background-color: #FFFFFF;
}
.main-container, main-inner {
  flex-grow: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.navigation {
  margin: 0 auto;
  padding: 0 70px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}
.logo {
  position: absolute;
    width: 140px;
    height: 70px;
    align-self: flex-start;
    margin-right: 30px;
    z-index: 2;
    top: 50%;
    left: 70px;
    transform: translateY(-35px);
    cursor: pointer;
}
.navigation-list {
  margin-left: 165px;
  width: 461px;
  display: flex;
  flex-wrap: wrap;
}
.navigation-user {
  width: 270px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navigation-list .navigation-link,
.navigation-list .navigation-link-current {
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    background-color: #FFFFFF;
    color: black;
    text-decoration: none;
    display: block;
    padding: 20px 16px;

}
.navigation-link-current {
    border-bottom: 2px solid #756257;
}

.navigation-user .navigation-link {
  min-width: 45px;
  min-height: 45px;
  padding: 0;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background: url('images/header/search.svg') no-repeat center;
  border: none;
}
.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background:
  url('images/header/heart.svg') no-repeat center,
  url('images/favourite-figure.svg') no-repeat top right;
  border: none;
}

.search {
    background-color: #FFFFFF;
    border: none;
    height: 30px;
}

.button-brown {
    background-color: #756157;
    color: #FFFFFF;
    width: 160px;
    padding: 8px 16px;
    box-sizing:border-box;
    margin-left: 20px;
}
.button-brown:hover {
  background-color: #615048;
}
.button-brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3)
}

button-brown:disabled {
  background-color: #E5E5E5;
  color: #ffffff;
}
.page-header {
  height: auto;
}



.welcome {
    background-image: url(images/main-pic/index-background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 90px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.welcome img:not(:first-of-type) {
  margin-bottom: 50px;
}
.welcome img:first-of-type {
  margin-bottom: 10px;
}
.welcome img:last-of-type {
  margin-bottom: 0;
}
.subscribe {
  padding-top: 95px;
    padding-bottom: 105px;
}
.subscribe-background {
    background-image: url(images/subscribe-background.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    padding-top: 95px;
    padding-bottom: 105px;
}

.hotels {
    background-image: url(images/Фильтр.jpg);
    background-size: cover;
    background-color: #82B3D3;
    padding: 35px 70px 70px 70px;
}
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.breadcrumbs-link {
    color: #FFFFFF;
    display: block;
    min-width: 15px;
    min-height: 15px;
    margin-right: 10px;
    position: relative;
}
.breadcrumbs-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ffffff;
}

.breadcrumbs-item:not(:last-child) {
  padding-right: 10px;
  background-image: url("images/breadcrumbs/breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: right center;
}
.breadcrumbs-item:last-child {
  padding-left: 10px;
}

.breadcrumbs-link:focus,
.breadcrumbs-link:focus .breadcrumbs-icon {
  border: none;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:hover .breadcrumbs-icon {
  color: rgba(255, 255, 255, 0.8);
}

.breadcrumbs-link:active,
.breadcrumbs-link:active .breadcrumbs-icon {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  padding: 0;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}
.catalog-filter fieldset {
  border: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.catalog-filter-group {
  width: 150px;
}
.catalog-filter-group-price {
  width: 290px;
}
.catalog-filter-group-container {
  width: 400px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
.catalog-filter-group-wrapper {
  display: flex;
  gap: 70px;
  justify-content: end;
}
.catalog-filter-group-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
    align-self: start;
}
.catalog-filter-item {
  color: #FFFFFF;
}
.catalog-filter-item:not(:last-child){
    color: #FFFFFF;
    margin-bottom: 16px;
}

.catalog-filter-item .control-input{
    margin: 0;
    margin-right: 16px;
    width: 20px;
    height: 20px;
    background-color: rgba (242, 242, 242,1);
}

.control-input {
  position: absolute;
  opacity: 0;
}

.control {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
}

.control-mark {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-sizing: border-box;
  flex-shrink: 0;
  position:relative;
}
.control-mark-radio {
  border-radius: 50px;
}

.control-input:checked + .control-mark {
  background-color: #ffffff;
  color: #3F5E72;
}

.control-mark::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('images/tick-checkbox.svg') no-repeat center;
  opacity: 0;
}
.control-mark-radio::after {
  background: url('images/input-radio.svg') no-repeat center;
}

.control-input:checked + .control-mark::after {
  opacity: 1;
}

.control-input:focus + .control-mark {
  outline: 3px solid #82B3D3;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.8);
}

.control:hover .control-label {
  color: rgba(255, 255, 255, 0.8);
}

.control-input:active .control-mark{
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #82B3D3;
}

.control:active .control-label {
  color: rgba(255, 255, 255, 0.3);
}

.slider-container {
  display: flex;
  gap: 2px;
  align-items: center;
}
.price-field{
  position: relative;
  display: inline-block;
  width: 145px;
}

.slider {
  outline: none;
  padding: 12px 20px;
  padding-right: 35px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  border: none;
  background: transparent;
  color: black;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 48px;
  box-sizing: border-box;
  z-index: 2;
}

.slider::-webkit-inner-spin-button,
.slider::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slider-mark {
  display: block;
  width: 100%;
  height: 48px;
  padding: 12px 20px;
  padding-right: 35px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  background-color: #ffffff;
  color: black;
  box-sizing: border-box;
  flex-shrink: 0;
  position:relative;
  opacity: 1;
  z-index: 1;
}

.slider-container .price-field:first-child .slider-mark {
  border-radius: 4px 0 0 4px;
}
.slider-container .price-field:first-child .slider-mark::after {
  content: "от";
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #A0A0A0;
  display: block;
  position: absolute;
  top: 12px;
  bottom: 12px;
  right: 20px;
}

.slider-container .price-field:last-child .slider-mark::after {
  content: "до";
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #A0A0A0;
  display: block;
  position: absolute;
  top: 12px;
  bottom: 12px;
  right: 20px;
}

.slider-container .price-field:last-child .slider-mark {
  border-radius: 0 4px 4px 0;
}

.price-field:focus .slider-mark {
  outline: 4px solid #82B3D3;
}
.price-field:hover .slider-mark {
  background-color: rgba(255, 255, 255, 0.8);
}

.price-field:active .slider-mark {
  background-color: rgba(255, 255, 255, 0.3);
  outline:none;
}

.hotel-catalog {
  padding: 50px 70px 60px 70px;
}
.hotel-filter-result{
  display: flex;
  align-items: center;
}
.search-result {
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.select-control {
  width: 292px;
  padding: 14px 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: 70px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.hotel-catalog-view-list {
  width: 230px;
  display: flex;
  justify-content: flex-end;
}

.hotel-catalog-view-link {
  display: block;
  min-width: 48px;
  min-height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin: 0;
  margin-right: 8px;
  box-sizing: border-box;
  position: relative;
}
.hotel-catalog-view-item:last-child .hotel-catalog-view-link{
  margin-right: 0;
}

.catalog-view-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  fill: black;
}

.hotel-catalog-view-link:focus {
  border-color:#82B3D3;
}

.hotel-catalog-view-link:hover {
  border-color: black;
}

.hotels-list {
  padding: 40px 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}
.hotel-card {
  width: 100%;
  padding: 20px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
}
.hotel-card-actions {
  padding-top: 16px;
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(2, minmax(140px, 1fr));
  gap: 20px 16px;
}
.hotel-card-image {
  display: block;
  max-width: 100%;
  height: auto;
  order: -1;
}
.hotel-link {
  display: flex;
  flex-direction: column;
  color: black;
  text-decoration: none;
}

.hotel-card-title {
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: black;
    text-decoration: none;
    order: 0;
    margin: 0;
    margin-top: 16px;
}
.hotel-card-type {
  margin: 0;
  color:#333333;
}
.hotel-card-price {
  justify-self: end;
  color:#333333;
  font-weight: 400;
}

.button-brown-full {
  color: #FFFFFF;
  background-color:#756157;
  box-sizing: border-box;
  padding: 8px 20px;
}
.button-brown-full:hover {
  background-color: #615048;
}
.button-brown-full:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3)
}
.button-brown-full:disabled {
  background-color: E5E5E5;
  color: #ffffff;
}

.pagination {
    display: flex;
    flex-direction: row;
}


.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    color: #FFFFFF;
    background-color: rgba(130, 179, 211, 1);
    border-radius: 4px;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;

}

.pagination li:nth-child(n+10) .pagination-link {
  padding: 12px 18px;
}

.pagination li:nth-child(-n+9) .pagination-link {
  padding: 12px 25px;
}

.pagination-link-current {
    color: black;
    background-color: #F2F2F2;
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    border-radius: 4px;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 12px 25px;

}

.pagination-link:focus {
  border: none;
}

.pagination-link:hover {
  background-color: #68A2CA;
}
.pagination-link:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

/* gradient? */
.divider {
    width: 100%;
    display: block;
    margin-top: -72px;
}
.introduction {
  width: 100%;
  padding: 65px 0;
}
.introduction-container {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-big-text {
    text-align: center;
    font-family: inherit;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 25px;
}

.intro-small-text {
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
    margin: 0;
}

.white {
    color: #FFFFFF;
}

.reasons-list,
.advantages-list {
    text-align: center;
}
.reasons-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.reasons-list li:nth-of-type(2),
.reasons-list li:nth-of-type(6) {
  flex-grow: 6.8;
  min-height: 385px;
}

.reasons-title,
.advantages-title {
    font-family: inherit;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
}

.advantages-title {
  margin-bottom: 30px;
}

.reasons-title {
  padding-bottom: 30px;
  position: relative;
}

.reasons-title::after {
    content: "";
    display: block;
    height: 2px;
    width: 60px;
    bottom: 0;
    margin: 30px auto 0;
    background-color: rgba(0,0,0,0.3);
}
.title-white::after {
    background-color: rgba(255, 255, 255, 0.3);
}

.reasons-description,
.advantages-description {
  width: 230px;
  margin: 0;
}
.reasons-description:not(:first-of-type),
.reasons-description:not(:last-of-type),
.advantages-description {
    width: 230px;
    color: #333333;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
}

.advantages-item,
.reasons-item:not(:nth-of-type(4n+2)) {
    width: 400px;
    padding: 30px;
    display: flex;
    align-items: center;
    min-height: 385px;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1.5;
    margin: 0 auto;

}
.reasons-item:nth-of-type(4n+2) {
  color: #ffffff;
}
.advantages-item::before {
  content: " ";
  display: block;
  width: 75px;
  height: 75px;
  margin: 0 auto 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.advantages-list .advantages-item:nth-child(1)::before {
  background-image: url('images/Advantage-icon-house.svg');
}

.advantages-list .advantages-item:nth-child(2)::before {
  background-image: url('images/Advantage-icon-ham.svg');
}

.advantages-list .advantages-item:nth-child(3)::before {
  background-image: url('images/Advantage-icon-gift.svg');
}
.reasons-list li:first-of-type,
.reasons-list li:last-of-type {
    background-color: #82B3D3;
    color: white;
}

.light-blue-square {
    background-color: rgba(131, 179, 211, 0.2);
    color: black;
}

.reasons-list li:nth-of-type(odd):not(:first-of-type):not(:last-of-type),
.advantages-list li:nth-of-type(odd){
    background-color: rgba(131, 179, 211, 0.12);
    color: black;
}

.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
}
.hotel-score {
  color: rgba(51, 51, 51, 1);
  background-color: #F2F2F2;
  padding: 8px 20px;
  font-weight: 400;
}

.button-brown-search {
    background-color: #756157;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 8px 50px;
    margin-top: 55px;

}
.button-brown-search:hover {
  background-color: #615048;
}
.button-brown-search:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3)
}

.button-brown-search:disabled {
  background-color: E5E5E5;
  color: #ffffff;
}

.introduction-hotels {
    text-align: center;
    margin: 0 auto;
}

.subscribe-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 54px;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 100%;
}

.email-input {
    width: 452px;
    height: 25px;
    padding: 14px 20px;
    border: none;
    border-radius: 4px 0 0 4px;
    background-color: #F2F2F2;
}

.button-blue {
    background-color: #82B3D3;
    color: #fff;
    height: 52px;
    padding: 13px 50px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0 4px 4px 0;
    border: none;
}
.button-blue:hover {
  background-color: #68A2CA;
}
.button-blue:active {
  background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}
.button-blue:disabled {
  background-color: E5E5E5;
  color: #ffffff;
}
.catalog-filter-button {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.button-blue-like {
    background-color: #82B3D3;
    color: #fff;
    box-sizing: border-box;
    padding: 8px 20px;
}

.button-blue-like:hover {
  background-color: #68A2CA;
}

.button-blue-like:active {
  background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.button-blue-filter {
  padding: 8px 50px;
  background-color: #82B3D3;
  color: #fff;
}
.button-blue-filter:hover {
  background-color: #68A2CA;
}

.button-blue-filter:active {
  background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.button-brown-full:disabled {
  background-color: E5E5E5;
  color: #ffffff;
}

.button-blue-filter + button{
  margin-top: 32px;

}

.button-transparent {
    background-color: transparent;
    color: #FFFFFF;
    padding: 8px 50px;
}

.button-transparent:focus {
  outline: 3px solid #82B3D3;
}

.button-transparent:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-brown-full:disabled {
  color: rgba(255, 255, 255, 0.1);
}

.page-footer-container{
    padding: 40px 70px 30px 70px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}
.footer-contacts-list {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
}

.footer-contacts-link {
  display: block;
  min-width: 45px;
  min-height: 40px;
  position: relative;
}

.footer-contacts-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  color:#82B3D3;
}

.footer-contacts-link:focus .footer-contacts-icon {
  color: #68A2CA;
  border: none
}
.footer-contacts-link:hover .footer-contacts-icon {
  color: #68A2CA;
}

.footer-contacts-link:active .footer-contacts-icon {
  color: rgba(104, 162, 202, 0.3);
}

.telephone {
  width: 720px;
  text-align: center;
}

.telephone a {
    font-family: "PT Sans", sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    line-height: 40px;
    text-decoration: none;
    color: black;
}
.telephone a:focus {
  color: #756157;
  border: none;
}

.telephone a:hover {
  color: #756157;
}

.telephone a:active {
  color: rgba(117, 97, 87,0.3);
}
.profile-developer {
  width: 200px;
  position: relative;
  display: block;
  min-height: 35px;
  min-width: 115px;
  color:#000;
}
.profile-developer-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  color: #000;
}

.profile-developer:focus .profile-developer-icon{
  color: #756157;
  border: none;
}

.profile-developer:hover .profile-developer-icon{
  color: #756157;
}

.profile-developer:active .profile-developer-icon{
  color: rgba(117, 97, 87,0.3);
}
