@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../sedona/fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../sedona/fonts/ptsans-700.woff2") format("woff2");
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
}
ul {
  list-style-type: none;
}
.page-header {
    background-color: #FFFFFF;
    color: black;
}
.navigation-link, .navigation-link-current {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    background-color: #FFFFFF;
    color:black;
    text-decoration: none;
}
.button-brown {
    background-color: #756157;
    color: #FFFFFF;
    border-radius: 4px;
}
.welcome {
    background-image:  url(images/main-pic/index-background.jpg);
    background-size: cover;
    width: 100%;
    min-height: 485px;
    background-position: center;
    background-repeat: no-repeat;
}

.decor-welcome {
    display: block;
    margin: 0 auto;
    padding-top: 40px;
}

.welcome-welcome {
    display: block;
    padding-top: 1px;
    margin: 0 auto;
}

.subscribe-background {
    background-image: url(images/subscribe-background.jpg);
    background-size: cover;
    width: 100%;
    height: 414.86px;
}
.hotels {
    background-image: url(images/Фильтр.jpg);
    background-size: cover;
    background-color: #82B3D3;
    padding: 35px 70px 70px 70px;
}
.breadcrumbs-link {
    color:#FFFFFF;
}
.catalog-filter-group-title {
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color:#FFFFFF;
}
.catalog-filter-item {
    color:#FFFFFF;
}
.hotel-card {
    width: 340px;
    height: 438px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    padding: 20px;
}
.hotel-card-image {
    display: block;
    margin: 0 auto;
}
.hotel-link {
    color: black;
    text-decoration: none;
}
.hotel-card-title {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: black;
    text-decoration: none;
}
.pagination {
    display: flex;
    flex-direction: row;
}
.pagination-item {
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
  margin-right: 8px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.pagination-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    color: #FFFFFF;
    text-decoration: none;
}
.pagination-link-current {
   color: black;
}
.divider {
    width: 100%;
    display: block;
    margin-top: -72px;
}
.intro-big-text {
    text-align: center;
    font-family: "PT Sans";
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 95px;
    margin-bottom: 0;
}
.intro-small-text {
    text-align: center;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
    margin-bottom: 0;
}
.white {
    color:#FFFFFF;
}
.reasons-list, .advantages-list {
    text-align: center;
    margin-top: 95px;
}
.reasons-title, .advantages-title {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}
.advantages-list {
    display: flex;
    justify-content: space-between;
}
.advantages-item {
    width: 400px;
    height: 385px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.reasons-item {
    width: 400px;
    height: 385px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blue-square {
    background-color: #82B3D3;
    color: white;
}
.light-blue-square {
    background-color: rgba(131,179,211,0.2);
    color:black;
}
.lightlight-blue-square {
    background-color: rgba(131,179,211,0.12);
    color:black;
}
.button {
    font-family: "PT Sans";
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 8px 50px;
    cursor: pointer;
    text-decoration: none;
}
.button-brown-search {
    background-color: #756157;
    color: #FFFFFF;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    margin: 55px auto 95px;
}
.introduction-hotels {
  text-align: center;
  margin: 0 auto;
}
.subscribe-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 54px;
}
.email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 100%;
}
.email-input {
    width: 452px;
    height: 25px;
    padding: 14px 20px;
    border: none;
    border-radius: 4px 0 0 4px;
    background-color: #F2F2F2;
}

.button-blue {
    background-color: #82B3D3;
    color: #fff;
    height: 52px;
    padding: 13px 50px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0 4px 4px 0;
    border: none;
}
.button-blue-filter {
   border-radius: 4px;
   background-color: #82B3D3;
   color: #fff;
}
.button-transparent {
    background-color: transparent;
    color:#FFFFFF;
    border-radius: 4px;
}
.footer-contacts-list {
    display: flex;
    justify-content: space-between;
    width: 142px;
}
.telephone a{
    display: flex;
    align-items: start;
    justify-content: center;
    font-family: "PT Sans", sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    line-height: 40px;
    text-decoration: none;
    color: black;
}
.htmlacademy {
    display: flex;
    justify-content: end;
}
